/* * {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
:after,
:before {
	box-sizing: border-box;
}
:active,
:focus {
	outline: 0;
}
a:active,
a:focus {
	outline: 0;
}
aside,
footer,
header,
nav {
	display: block;
}
body,
html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: sans-serif;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
} */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-container {
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
	color: #d8f0f2;
}

header {
	width: 100%;
	margin: 0;
	background-color: #305292;
}

header h1 {
	margin: 0;
}

.container {
	width: 90%;
	margin: 0 auto;
}

form {
	width: 550px;
	margin: 30px auto;
	padding: 1.1em;
	border: 2px solid #8fc5f7;
	border-radius: 8px;
	/* background-color: #8fc5f7; */
	color: #333;
	/* box-shadow: -1px 2px 10px -10px rgba(0,0,0,0.75); */
	box-shadow: 0px 0px 15px -14px #305292;
}

.errors {
	color: red;
}

form h2 {
	margin: 0;
	text-align: center;
}

form .form-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

label {
	font-size: 1.2rem;
	margin: 10px 0;
}

input[type='text'],
textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	border: 1px solid #d8f0f2;
	border-radius: 5px;
	outline: none;
}

input[type='submit'] {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	border: none;
	border-radius: 8px;
	background-color: #3564bb;
	color: #fff;
	font-size: 0.9rem;
	cursor: pointer;
}
input[type='submit']:hover {
	background-color: #305292;
}

.file {
	padding: 10px 5px;
	border-bottom: 1px solid #3564bb;
	cursor: pointer;
}

.file:hover {
	background-color: rgb(212, 227, 241);
}

.file a {
	text-decoration: none;
	color: #305292;
	font-weight: 600;
}
